<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>同学们好!</title>
</head>
<body>
    <h1>同学们好!</h1>
    <form action="/sign-in" method="post">
        <input type="text" name="username" placeholder="你的名字?" />
        <button>登录</button>
    </form>
</body>
</html>